<ion-list>
  <ion-card>
    <ion-item>
      <ion-button expand="block" fill="outline" slot="start" class="btn-nuevo"> Nuevo </ion-button>
      <ion-button expand="block" fill="clear" slot="end" shape="round">
        <ion-icon slot="icon-only" name="trash-outline" color="medium"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-content>
      <p>This is content, without any paragraph or header tags,
        within an ion-card-content element.</p>
    </ion-card-content>
  </ion-card>
</ion-list>